/* default colors - start
==================================================================================================== */

/* bg color - start */
.bg_white {
	background-color: #ffffff;
}
.bg_black {
	background-color: #000000;
}
.bg_default_black {
	background-color: $default_black;
}
.bg_default_red {
	background-color: $default_red;
}

.bg_danger {
	background-color: #242323;
}
.bg_secondary {
	background-color: #8799a3;
}
.bg_success {
	background-color: #39b54a;
}

.bg_carparts_red {
	background-color: $carparts_red;
}
.bg_furniture_brown {
	background-color: $furniture_brown;
}
.bg_modern_red {
	background-color: $modern_red;
}

/* bg color - end */


/* overlay bg color - start */
.black_overlay {
	z-index: 1;
	position: relative;
	&:before {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -1;
		content: '';
		opacity: 0.749;
		position: absolute;
	}
}

.black_overlay {
	&:before {
		background-color: #272323;
	}
}
/* overlay bg color - end */


/* product btn bg color - start */
.pbg_brown {
	background-color: #d8a15f;
}
.pbg_olivegreen {
	background-color: #647242;
}
.pbg_gray {
	background-color: #e8e8e8;
}
.pbg_lightgreen {
	background-color: #c9da0f;
}
/* product btn bg color - end */

/* default colors - end
==================================================================================================== */