// default colors - start
// ==================================================
$default_red: #242323;
$default_color: #6b6b6b;
$default_black: #2e2e2e;



$modern_red: #242323;


$story_green: #39b54a;
$story_black: #0d0d0d;

$sports_red: #ff3f3f;

$watch_red: #ff3800;

$leafgreen: #3A5F0B;
// default colors - end
// ==================================================


// transition - start
// ==================================================
$default_transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
// transition - end
// ==================================================